* {
  margin: 0;
  padding: 0;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(#323133, black);
}
nav a {
  color: white;
  border: 6px double darkblue;
  border-radius: 15%;
  margin: 0 2%;
  padding: 1% 2%;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 400%;
    height: auto;
    text-align: center;
  }
}
.top {
  border: dotted 2px darkgreen;
  display: flex;
  flex-direction: column;
  background: linear-gradient(black, #323133);
  background-image: url(../img/jon-grogan-12WCUSkQxz0-unsplash.jpg);
  background-position: top;
  background-size: 100%;
  color: whitesmoke;
  text-shadow: 10px 10px 50px blue;
  background-repeat: no-repeat;
  padding: 4%;
}
.top img {
  width: 25%;
  margin-left: 2%;
}
.top .me {
  display: flex;
  flex-direction: column;
}
.top .me h1 {
  font-size: 4rem;
  border: dotted 2px darkgreen;
  margin: 1% 0;
  background: rgba(9, 9, 9, 0.7);
}
.top .me h2 {
  font-size: 2.2rem;
  background: rgba(9, 9, 9, 0.7);
}
.top .me p {
  background: rgba(9, 9, 9, 0.7);
  margin: 1% 2%;
}
.top .me .emailme {
  border: black 1px solid;
  width: 20%;
  padding: 1% 2%;
  margin-left: 25%;
  margin-bottom: 2%;
  color: white;
  border: 6px double darkblue;
  border-radius: 15%;
  background: rgba(9, 9, 9, 0.7);
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 500px) {
  .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 400%;
    height: auto;
  }
  .top img {
    width: 50%;
    margin-left: 25%;
  }
  .top .me .emailme {
    width: 50%;
  }
}
.bottombg {
  background: linear-gradient(black, #323133);
  color: white;
  height: 100%;
}
.middle {
  display: flex;
  justify-content: space-around;
}
.middle .leftcolumn,
.middle .rightcolumn {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.middle h4 {
  font-size: 2.5rem;
}
.middle p,
.middle ul {
  font-size: 1.6rem;
}
.middle ul {
  border: white 1px solid;
  padding: 1.5% 0 1.5% 3%;
}
.middle p {
  padding-right: 10%;
  line-height: 140%;
}
@media (max-width: 500px) {
  .middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 400%;
    height: auto;
  }
  .middle h4 {
    width: 100%;
  }
  .middle .leftcolumn,
  .middle .rightcolumn {
    width: 90%;
  }
}
h4 {
  margin: 3% 2% 1%;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
}
.work {
  display: flex;
  justify-content: center;
}
.work h5 {
  font-size: 2rem;
  border-bottom: 2px solid white;
}
.work p {
  font-size: 1.4rem;
  background-color: #444d57;
  padding-left: 5%;
}
.work .darker {
  background-color: slategrey;
}
.work .categories1 {
  width: 22%;
  line-height: 3rem;
  margin-bottom: 5%;
  width: 10%;
}
.work .categories1 h5 {
  padding-left: 15%;
}
.work .categories1 p {
  width: 100%;
  padding-left: 20%;
}
.work .categories2 {
  width: 22%;
  line-height: 3rem;
  margin-bottom: 5%;
  padding-left: -5%;
}
.work .categories3 {
  width: 22%;
  line-height: 3rem;
  margin-bottom: 5%;
  width: 35%;
}
.work .categories3 h5 {
  padding-left: 5%;
}
.work .categories4 {
  width: 22%;
  line-height: 3rem;
  margin-bottom: 5%;
}
.work .categories4 h5 {
  padding-left: 5%;
}
@media (max-width: 500px) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 400%;
  height: auto;
  .work {
    display: flex;
  }
  .work h5 {
    font-size: 90%;
  }
  .work p {
    font-size: 90%;
    line-height: 2rem;
  }
  .categories1 {
    width: 10%;
  }
  .categories2 {
    width: 15%;
  }
  .categories3 {
    width: 35%;
  }
  .categories4 {
    width: 25%;
  }
}
footer {
  width: 100%;
}
h6 {
  text-align: center;
  font-size: 1rem;
  margin: 1% 2% 0;
  background-color: #363c42;
  color: white;
}
.footpart {
  background: linear-gradient(black, #323133);
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10%;
  background: linear-gradient(black, #323133);
  background-image: url(../img/jon-grogan-12WCUSkQxz0-unsplash.jpg);
  background-position: top;
  background-size: 100%;
  color: whitesmoke;
  text-shadow: 10px 10px 50px blue;
  background-repeat: no-repeat;
}
.contacts h1 {
  font-size: 4rem;
  border: 1px solid white;
  margin-top: -5%;
  text-align: center;
}
.contacts p {
  font-size: 2rem;
  border: 1px solid white;
  margin: 4% 0;
  background: rgba(9, 9, 9, 0.7);
}
.contacts address {
  font-size: 2rem;
  border: 1px solid white;
  background: rgba(9, 9, 9, 0.7);
  width: 60%;
}
@media (max-width: 500px) {
  .contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 400%;
    height: auto;
  }
}
