/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@keyframes name1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  padding: 1% 0;
  background: linear-gradient(black, black, black, black, blue);
  border-bottom: 10px groove black;
  opacity: 0.95;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0.7;
}
nav:hover {
  opacity: 1;
}
nav a {
  border-radius: 6%;
  border: double 10px darkblue;
  color: white;
  font-weight: 600;
  opacity: 0.7;
  padding: 1% 4%;
  text-decoration: none;
}
nav a:hover {
  opacity: 1;
  border: double 10px blue;
}
.top-content {
  background: url("../img/jon-grogan-12WCUSkQxz0-unsplash.jpg");
  background-position: top;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  color: whitesmoke;
  text-shadow: 10px 10px 50px blue;
}
.top-content img {
  border-radius: 7%;
  width: 29%;
  animation-name: name1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.top-content .me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 60vh;
  background: rgba(9, 9, 9, 0.7);
  animation-name: name1;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.top-content h1 {
  font-weight: 900;
  font-size: 4rem;
}
.top-content h2 {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: underline;
}
.top-content p {
  padding: 0 5%;
  font-size: 1.2rem;
}
.top-content .emailme {
  border-radius: 6%;
  border: double 10px darkblue;
  color: white;
  font-weight: 600;
  opacity: 0.7;
  margin: 0 30%;
  padding: 2% 0;
  background: black;
  opacity: 0.6;
  font-size: 1.3rem;
}
.top-content .emailme:hover {
  opacity: 1;
  border: double 10px blue;
}
.experience {
  padding-left: 1%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2% 0;
  background: linear-gradient(blue, black, black, black, black, black, black);
  color: whitesmoke;
}
.experience h3 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding-bottom: 2%;
  text-decoration: underline;
}
.experience .work-exp {
  width: 29%;
  border: 1px white solid;
  padding-bottom: 2%;
}
.experience .work-exp .tiny {
  font-size: 0.9rem;
  margin-left: -0.1%;
}
.experience .work-exp .tinyr {
  font-size: 0.9rem;
  text-align: right;
}
.experience .work-exp h4 {
  font-size: 1.8rem;
  padding: 2% 0;
  text-align: center;
  padding-bottom: 2%;
}
.experience .work-exp h5 {
  font-size: 1.4rem;
  padding: 2% 0;
  margin-left: 6%;
}
.experience .work-exp p {
  font-size: 1.2rem;
  padding: 2% 0;
  margin-left: 8%;
}
.experience .work-exp ul {
  margin-left: 10%;
  line-height: 1.5rem;
}
.experience .work-exp ul:before {
  content: "»";
}
footer {
  padding: 1% 0;
  background: black;
}
