* {
    margin: 0;
    padding: 0;
}
.wheresthatborder() {
    border: dotted 2px darkgreen;
}
.flex-space-around() {
    display: flex;
    justify-content: space-around;
}
.flex-column() {
    display: flex;
    flex-direction: column;
}
.flex-center() {
    display: flex;
    justify-content: center;
}
.phone() {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 400%;
    height: auto;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(rgb(50, 49, 51), black);

    a {
        .btnclr();
        margin: 0 2%;
        padding: 1% 2%;
    }
    @media (max-width: 500px) {
        .phone();
        text-align: center;
    }
}
.btnclr() {
    color: white;
    border: 6px double darkblue;
    border-radius: 15%;
}
.tulsabg() {
    background: @gradblack;
    background-image: url(../img/jon-grogan-12WCUSkQxz0-unsplash.jpg);
    background-position: top;
    background-size: 100%;
    color: whitesmoke;
    text-shadow: 10px 10px 50px blue;
    background-repeat: no-repeat;
}
.top {
    .wheresthatborder();
    .flex-column();
    .tulsabg();
    padding: 4%;
    img {
        width: 25%;
        margin-left: 2%;
    }
    .me {
        .flex-column();
        h1 {
            font-size: 4rem;
            .wheresthatborder();
            margin: 1% 0;
            .transparancy();
        }
        h2 {
            font-size: 2.2rem;
            .transparancy();
        }
        p {
            .transparancy();
            margin: 1% 2%;
        }
        .emailme {
            border: black 1px solid;
            width: 20%;
            padding: 1% 2%;
            margin-left: 25%;
            margin-bottom: 2%;
            .btnclr();

            background: rgba(9, 9, 9, 0.7);
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    @media (max-width: 500px) {
        .phone();
        img {
            width: 50%;
            margin-left: 25%;
        }
        .me {
            .emailme {
                width: 50%;
            }
        }
    }
}
@gradblack: linear-gradient(black, rgb(50, 49, 51));
.transparancy() {
    background: rgba(9, 9, 9, 0.7);
}
.bottombg {
    background: @gradblack;
    color: white;
    height: 100%;
}
.middle {
    .flex-space-around();
    .leftcolumn,
    .rightcolumn {
        .flex-column();
        width: 45%;
    }

    h4 {
        font-size: 2.5rem;
    }
    p,
    ul {
        font-size: 1.6rem;
    }
    ul {
        border: white 1px solid;
        padding: 1.5% 0 1.5% 3%;
    }
    p {
        padding-right: 10%;
        line-height: 140%;
    }
    @media (max-width: 500px) {
        .phone();
        h4 {
            width: 100%;
        }
        .leftcolumn,
        .rightcolumn {
            width: 90%;
        }
    }
}
h4 {
    margin: 3% 2% 1%;
    font-size: 2.5rem;
    border-bottom: 1px solid white;
}
.work {
    .flex-center();
    h5 {
        font-size: 2rem;
        border-bottom: 2px solid white;
    }
    p {
        font-size: 1.4rem;
        background-color: rgb(68, 77, 87);
        padding-left: 5%;
    }
    .allcate() {
        width: 22%;
        line-height: 3rem;
        margin-bottom: 5%;
    }
    .darker {
        background-color: slategrey;
    }
    .categories1 {
        .allcate();
        h5 {
            padding-left: 15%;
        }
        p {
            width: 100%;
            padding-left: 20%;
        }
        width: 10%;
    }
    .categories2 {
        .allcate();
        padding-left: -5%;
    }
    .categories3 {
        h5 {
            padding-left: 5%;
        }
        .allcate();
        width: 35%;
    }
    .categories4 {
        .allcate();
        h5 {
            padding-left: 5%;
        }
    }
}
@media (max-width: 500px) {
    .phone();
    .work {
        display: flex;
        h5 {
            font-size: 90%;
        }
        p {
            font-size: 90%;
            line-height: 2rem;
        }
    }
    .categories1 {
        width: 10%;
    }
    .categories2 {
        width: 15%;
    }
    .categories3 {
        width: 35%;
    }
    .categories4 {
        width: 25%;
    }
}
footer {
    width: 100%;
}
h6 {
    text-align: center;
    font-size: 1rem;
    margin: 1% 2% 0;
    background-color: rgb(54, 60, 66);
    color: white;
}
.footpart {
    background: @gradblack;
}
.contacts {
    .flex-column();
    align-items: flex-start;
    padding: 10%;
    .tulsabg();
    h1 {
        font-size: 4rem;
        border: 1px solid white;
        margin-top: -5%;
        text-align: center;
    }
    p {
        font-size: 2rem;
        border: 1px solid white;
        margin: 4% 0;
        .transparancy();
    }
    address {
        font-size: 2rem;
        border: 1px solid white;
        .transparancy();
        width: 60%;
    }
    @media (max-width: 500px) {
        .phone();
    }
}
